<!DOCTYPE html>
<html>
<head>
	<title>DE</title>
	<script type="text/javascript" src="js/testFunctions.js"></script>
	<script type="text/javascript" src="js/differentialEvolution.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<meta charset="utf-8">
</head>
<body>
	<img src="imgs/logo.png" style="width: 100px;">
	<h1 style="margin-bottom: 0;">Differential Evolution</h1>
	<h3 style="color: #444;margin-top: 0;">Player</h3>
	<div id="flavor">
		<h3>DE/{{ x }}/{{y}}/{{z}}/{{s}}</h3>	
		<table>
			<tr><th colspan="2">Options</th></tr>
			<tr>
				<td>Vector</td>
				<td>
					<select v-model="x">
						<option id="vector-rand" value="rand">rand</option>
						<option id="vector-best" value="best">best</option>
						<option id="vector-current-to-best" value="current-to-best">current-to-best</option>
					</select>
				</td>
			</tr>			
			<tr>
				<td>Number of vectors: </td>
				<td>
					<select v-model="y">
						<option id="number-1" value="1">1</option>
						<option id="number-2" value="2">2</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Crossover: </td>
				<td>
					<select v-model="z">
						<option id="cross-binomial" value="bin">binomial</option>
						<option id="cross-exponential" value="exp">exponential</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Selection: </td>
				<td>
					<select v-model="s">
						<option id="selection-synchronous" value="synch">synchronous</option>
						<option id="selection-asynchronous" value="asynch">asynchronous</option>
					</select>
				</td>
			</tr>
			<tr><td>Fitness function:</td>
				<td>
					<select>
						<option id="ff-ackley" value="ackley">Ackley</option>
						<option id="ff-rosenbaum" value="rosenbaum">Rosembaum</option>
					</select>
					<a href="#">?</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea rows="6" cols="50">x1^2+x2^2;</textarea>
				</td>
			</tr>
			<tr>
				<td><input type="button" name="perform" value="Perform"></td>
			</tr>
		</table>
	</div>

	<button id="myBtn">Open Modal</button>

	<div id="myModal" class="modal">

	  <div class="modal-content">
	    <span class="close">&times;</span>
	    <p>Some text in the Modal..</p>
	  </div>

	</div> 

	<script type="text/javascript">
		var flavor = new Vue({
		  el: '#flavor',
		  data: {
		    x:"rand",
		    y:"1",
		    z:"bin",
		    s:"synch",
		  }
		})
		

		// Get the modal
		var modal = document.getElementById('myModal');

		// Get the button that opens the modal
		var btn = document.getElementById("myBtn");

		// Get the <span> element that closes the modal
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks on the button, open the modal
		btn.onclick = function() {
		    modal.style.display = "block";
		}

		// When the user clicks on <span> (x), close the modal
		span.onclick = function() {
		    modal.style.display = "none";
		}

		// When the user clicks anywhere outside of the modal, close it
		window.onclick = function(event) {
		    if (event.target == modal) {
		        modal.style.display = "none";
		    }
		} 
	</script>
</body>
</html>